[Unit]
Description=Auto update dynamic IP to Cloudflare DNS
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=3
ExecStart=/usr/bin/python3 /home/nduc/ddns/main.py

[Install]
WantedBy=default.target